#### For colab

from google.colab import drive
drive.mount('/content/drive', force_remount=True)
import sys 
sh_path = './drive/MyDrive/Colab Notebooks/scripts'
sys.path.insert(0, sh_path)

#### For local development

In [1]:
import sys 
sh_path = '/home/mako/Documents/personal/tesis_mariana/code/scripts'
sys.path.insert(0, sh_path)

# Install dependencies and import thesis code

# Si esta próxima linea falla, ir a
#    Entorno de ejecucion > Reiniciar entorno de ejecucion
# y volver a correr estas primeras dos celdas
!sh '{sh_path}'/install_libraries.sh

In [2]:
from tests import *
from regression import *
%matplotlib inline
# Para elegir que modelo usar para regresión, descomentar la línea con el modelo
# que se quiera usar y comentar las otras dos. Despues correr la celda
REGRESS_MODEL = "LocalProjections" #o "VECM" o "OLS" o "LocalProjections"

# Load dfs

In [3]:
import pandas as pd
df_mensual = pd.read_excel("https://github.com/mbarrena/tesis/blob/main/data/Mensuales%202004%20a%202023.xlsx?raw=true")
display(df_mensual.head())
display(df_mensual.tail())

,Año,Mes,ipc_ajust,Ebc,Efmi,emae,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,tot_04,TOTfmi
0,2004,1,83.199725,2.9428,2.87429,98.417813,78.080841,7.35,2.39,3.68,103.29,95.794785
1,2004,2,83.283418,2.9243,2.91260,98.164075,78.396319,8.28,2.61,3.77,103.43,95.897133
2,2004,3,83.777547,2.8550,2.87591,97.811112,79.027276,9.28,2.75,3.83,102.08,96.306465
3,2004,4,84.496358,2.8452,2.81447,95.063683,79.185015,9.62,2.89,3.88,103.42,96.349037
4,2004,5,85.113715,2.9642,2.90085,96.884676,80.368058,9.56,2.87,3.82,104.63,96.331924

,Año,Mes,ipc_ajust,Ebc,Efmi,emae,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,tot_04,TOTfmi
243,2024,4,65041.239522,876.7500,866.8571,139.368764,111.837003,11.8,4.39,5.90,138.116637,99.382210
244,2024,5,67757.574944,895.2500,885.2045,140.302696,111.363786,11.9,4.51,6.19,129.841031,99.529709
245,2024,6,70858.883726,911.7500,902.3235,139.815874,NaN,11.8,4.48,5.86,121.808680,99.313354
246,2024,7,73715.158346,932.7500,922.1364,NaN,NaN,11.3,4.24,5.52,128.853907,99.305954
247,2024,8,76790.756200,952.8333,NaN,NaN,NaN,NaN,NaN,NaN,129.579941,NaN

In [4]:
df_Arg_mens = df_mensual.copy()

display(df_Arg_mens)
display(df_Arg_mens.tail())

,Año,Mes,ipc_ajust,Ebc,Efmi,emae,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,tot_04,TOTfmi
0,2004,1,83.199725,2.9428,2.87429,98.417813,78.080841,7.35,2.39,3.68,103.290000,95.794785
1,2004,2,83.283418,2.9243,2.91260,98.164075,78.396319,8.28,2.61,3.77,103.430000,95.897133
2,2004,3,83.777547,2.8550,2.87591,97.811112,79.027276,9.28,2.75,3.83,102.080000,96.306465
3,2004,4,84.496358,2.8452,2.81447,95.063683,79.185015,9.62,2.89,3.88,103.420000,96.349037
4,2004,5,85.113715,2.9642,2.90085,96.884676,80.368058,9.56,2.87,3.82,104.630000,96.331924
...,...,...,...,...,...,...,...,...,...,...,...,...
243,2024,4,65041.239522,876.7500,866.85710,139.368764,111.837003,11.80,4.39,5.90,138.116637,99.382210
244,2024,5,67757.574944,895.2500,885.20450,140.302696,111.363786,11.90,4.51,6.19,129.841031,99.529709
245,2024,6,70858.883726,911.7500,902.32350,139.815874,NaN,11.80,4.48,5.86,121.808680,99.313354
246,2024,7,73715.158346,932.7500,922.13640,NaN,NaN,11.30,4.24,5.52,128.853907,99.305954
247,2024,8,76790.756200,952.8333,NaN,NaN,NaN,NaN,NaN,NaN,129.579941,NaN

,Año,Mes,ipc_ajust,Ebc,Efmi,emae,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,tot_04,TOTfmi
243,2024,4,65041.239522,876.7500,866.8571,139.368764,111.837003,11.8,4.39,5.90,138.116637,99.382210
244,2024,5,67757.574944,895.2500,885.2045,140.302696,111.363786,11.9,4.51,6.19,129.841031,99.529709
245,2024,6,70858.883726,911.7500,902.3235,139.815874,NaN,11.8,4.48,5.86,121.808680,99.313354
246,2024,7,73715.158346,932.7500,922.1364,NaN,NaN,11.3,4.24,5.52,128.853907,99.305954
247,2024,8,76790.756200,952.8333,NaN,NaN,NaN,NaN,NaN,NaN,129.579941,NaN

In [5]:
#Recorto dataframe mensual a 2004-2023
df_Arg = df_Arg_mens.iloc[:240].reset_index(drop=True)[['Año','Mes','ipc_ajust', 'Ebc', 'Efmi','emae', 'impp_usa', 'Psoja_USA', 'Pmaíz_USA', 'Ptrigo_USA', 'tot_04', 'TOTfmi']].copy()
df_Arg = renameColumnOfDataframe(df_Arg, "ipc_ajust", "ipc")
df_Arg = renameColumnOfDataframe(df_Arg, "Efmi", "E")

display(df_Arg)
display(df_Arg.tail())

,Año,Mes,Ebc,emae,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,tot_04,TOTfmi,ipc,E
0,2004,1,2.9428,98.417813,78.080841,7.35,2.39,3.68,103.290000,95.794785,83.199725,2.87429
1,2004,2,2.9243,98.164075,78.396319,8.28,2.61,3.77,103.430000,95.897133,83.283418,2.91260
2,2004,3,2.8550,97.811112,79.027276,9.28,2.75,3.83,102.080000,96.306465,83.777547,2.87591
3,2004,4,2.8452,95.063683,79.185015,9.62,2.89,3.88,103.420000,96.349037,84.496358,2.81447
4,2004,5,2.9642,96.884676,80.368058,9.56,2.87,3.82,104.630000,96.331924,85.113715,2.90085
...,...,...,...,...,...,...,...,...,...,...,...,...
235,2023,8,350.0167,149.399215,110.653960,14.10,5.73,7.34,141.164939,100.039970,22805.751986,321.75450
236,2023,9,350.0083,148.683881,111.206047,13.20,5.21,7.06,142.054104,99.802200,25713.428380,349.50480
237,2023,10,350.0083,147.590015,110.496221,12.70,4.93,6.96,141.297132,99.603401,27848.090190,349.52000
238,2023,11,360.5250,145.555263,109.944134,13.00,4.66,6.52,142.396609,99.807961,31415.622744,353.31750
239,2023,12,808.4833,142.763001,109.155439,13.10,4.80,6.79,138.110029,99.753677,39415.823126,641.93950

,Año,Mes,Ebc,emae,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,tot_04,TOTfmi,ipc,E
235,2023,8,350.0167,149.399215,110.653960,14.1,5.73,7.34,141.164939,100.039970,22805.751986,321.7545
236,2023,9,350.0083,148.683881,111.206047,13.2,5.21,7.06,142.054104,99.802200,25713.428380,349.5048
237,2023,10,350.0083,147.590015,110.496221,12.7,4.93,6.96,141.297132,99.603401,27848.090190,349.5200
238,2023,11,360.5250,145.555263,109.944134,13.0,4.66,6.52,142.396609,99.807961,31415.622744,353.3175
239,2023,12,808.4833,142.763001,109.155439,13.1,4.80,6.79,138.110029,99.753677,39415.823126,641.9395

In [6]:
df_ERPT_Arg = df_Arg #ARGENTINA, mensual 2004 a 2023. Modelo cálculo ERPT de corto plazo con E nominal, PBI real desestacionalizado, precios externos (P de importados de USA) e IPC.
display(df_ERPT_Arg.head())
df_ERPT_Arg = makeLogColumns(['ipc', 'Ebc', 'E', 'emae', 'impp_usa', 'Psoja_USA', 'Ptrigo_USA', 'Pmaíz_USA', 'tot_04', 'TOTfmi'],df_ERPT_Arg)
display(df_ERPT_Arg.head())
df_ERPT_Arg = makeDiffColumns(['ipc', 'Ebc', 'E', 'emae', 'impp_usa', 'Psoja_USA', 'Ptrigo_USA', 'Pmaíz_USA', 'tot_04', 'TOTfmi'],df_ERPT_Arg)
display(df_ERPT_Arg.head())
display(df_ERPT_Arg.tail())

,Año,Mes,Ebc,emae,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,tot_04,TOTfmi,ipc,E
0,2004,1,2.9428,98.417813,78.080841,7.35,2.39,3.68,103.29,95.794785,83.199725,2.87429
1,2004,2,2.9243,98.164075,78.396319,8.28,2.61,3.77,103.43,95.897133,83.283418,2.91260
2,2004,3,2.8550,97.811112,79.027276,9.28,2.75,3.83,102.08,96.306465,83.777547,2.87591
3,2004,4,2.8452,95.063683,79.185015,9.62,2.89,3.88,103.42,96.349037,84.496358,2.81447
4,2004,5,2.9642,96.884676,80.368058,9.56,2.87,3.82,104.63,96.331924,85.113715,2.90085

,Año,Mes,Ebc,emae,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,tot_04,TOTfmi,ipc,E
0,2004,1,1.079362,4.589222,4.357745,1.994700,0.871293,1.302913,4.637541,4.562208,4.421244,1.055806
1,2004,2,1.073055,4.586640,4.361777,2.113843,0.959350,1.327075,4.638895,4.563276,4.422249,1.069046
2,2004,3,1.049072,4.583038,4.369793,2.227862,1.011601,1.342865,4.625757,4.567535,4.428165,1.056369
3,2004,4,1.045633,4.554547,4.371787,2.263844,1.061257,1.355835,4.638798,4.567977,4.436708,1.034774
4,2004,5,1.086607,4.573521,4.386617,2.257588,1.054312,1.340250,4.650430,4.567800,4.443988,1.065004

,Año,Mes,Ebc,emae,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,tot_04,TOTfmi,ipc,E
1,2004,2,-0.006306,-0.002581,0.004032,0.119143,0.088057,0.024162,0.001354,0.001068,0.001005,0.013240
2,2004,3,-0.023983,-0.003602,0.008016,0.114019,0.052251,0.015790,-0.013138,0.004259,0.005916,-0.012677
3,2004,4,-0.003438,-0.028491,0.001994,0.035983,0.049656,0.012970,0.013042,0.000442,0.008543,-0.021595
4,2004,5,0.040974,0.018974,0.014830,-0.006257,-0.006944,-0.015585,0.011632,-0.000178,0.007280,0.030230
5,2004,6,-0.001181,0.018745,-0.001965,-0.051514,-0.028270,-0.073303,-0.023010,-0.004486,0.005644,0.013372

,Año,Mes,Ebc,emae,impp_usa,Psoja_USA,Pmaíz_USA,Ptrigo_USA,tot_04,TOTfmi,ipc,E
235,2023,8,0.240180,0.010343,0.006435,-0.041673,-0.082054,-0.036124,0.095899,-0.003091,0.117264,0.189443
236,2023,9,-0.000024,-0.004800,0.004977,-0.065958,-0.095136,-0.038894,0.006279,-0.002380,0.120001,0.082728
237,2023,10,0.000000,-0.007384,-0.006403,-0.038615,-0.055241,-0.014266,-0.005343,-0.001994,0.079751,0.000043
238,2023,11,0.029604,-0.013882,-0.005009,0.023347,-0.056324,-0.065305,0.007751,0.002052,0.120541,0.010806
239,2023,12,0.807599,-0.019370,-0.007199,0.007663,0.029600,0.040577,-0.030566,-0.000544,0.226862,0.597127

# Regress

In [16]:
import regression
regression.REGRESS_MODEL = 'LocalProjections'

In [17]:
regress(["impp_usa", "Ebc", "ipc", "emae"], df_ERPT_Arg, maxlags=2)

Realizando regresión con modelo LocalProjections
Local projections: var dep. impp_usa, horizonte 1

**Pvalues:**

UnboundLocalError: cannot access local variable 'resultados' where it is not associated with a value